DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vest-ic-local?sslmode=disable
PAYLOAD_SECRET=test
BLOB_READ_WRITE_TOKEN="get from vercel console"
ENVIRONMENT="dev"
BLOB_HOST="host@host.com"
ADMIN_IPS="IP_1,IP_2"
DATABASE_URL_2=postgresql://postgres:postgres@localhost:5432/vest-ic-local?sslmode=disable